@media screen and (max-with: 576px) {
		* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("background.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	
	
	
}







header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 50px;
	
	display: flex-start;
	
	justify-content: space: 30px;
	align-items: center;
	z-index: 99;
	
}
.logo {
	font-size: 2em;
	color: #fff;
	user-select: none;
}
.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight:200;
	margin-left: 20px;
	
}
.navigation a::after {
	content:"";
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}
.navigation a:hover:after {
	transform: scaleX(1);
	


}
.navigation .btnLogin-popup {
	width: 80px;
	height: 30px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight:150;
	margin-left: 20px;
	transition: .5s;
}
.navigation .btnLogin-popup:hover {
	background: #fff;
	color: #162938;
}
	
	
	
	
}








.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 24px;
	border: 2px solid #3498db;
	transition: 0.25s;
	cursor: pointer;
	outline: none;
	color: white;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
	
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;     
}
